@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-image: url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.top
{
    display: flex;
    margin-left: 40px;
}
.top .title
{
    max-width: 390px;
}
.title
{
    margin-right: 105px;
}
.title p
{
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.35;
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}
.top h1
{
   font-size: 3rem; 
   color:  hsl(300, 43%, 22%);
}
.reviews
{
    display: flex;
    flex-direction: column;
    margin-right: 105px;

}
.bottom
{
    display: flex;
    max-width: 1000px;
    gap: 26px;
}
span.review, span.report, span.tech
{
    color: hsl(300, 43%, 22%);
    text-decoration: none;
    padding: 16px 50px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    border-radius: 7px;
    margin-top: 15px;
}
span img
{
    margin-right: 10px;
}
span.report
{
    position: relative;
    left: 30px;
}
span.tech
{
    position: relative;
    left: 60px
}
.bottom
{
    margin-top: 70px;
}
.card
{
    min-width: 250px;
    min-height: 200px;
    padding: 30px 30px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
}
.card img
{
    height: 40px;
    border-radius: 50%;
}
section
{
    display: flex;
    gap: 18px;

}
.card .feedback
{
    color: hsl(300, 24%, 96%);
    margin-top: 17px;
    line-height: 1.3;
    font-size: 1rem;
}
.reviewer
{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
h5.name
{
    color: hsl(300, 24%, 96%);
    font-size: 1rem;
}
p.desig
{
    margin-top: 4px;
    color: hsl(333, 80%, 67%);
}
.feedback2
{
    position: relative;
    top: 15px;
}
.feedback3
{
    position: relative;
    top: 30px;
}